* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-container {
    background-color: #1f2937;
}

.hero-secondary {
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin: 0 112px;
}

.hero-secondary-right {
    color: #e5e7eb;
    font-size: 18px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.hero-secondary-right a {
    margin-left: 4px;
}

.hero-secondary-left {
    color: #f9faf8;
    font-size: 24px;
    margin: 0 48px 0 0;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    margin: 112px 112px;
    color: #f9faf8;
}

.hero-main h1{
    font-size: 48px;
    font-weight: bold;
}

.hero-main-left {
    width: 400px;
    margin: 0 48px 112px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-left button  {
    background-color: #3882f6;
    border-style: none;
    width: 84px;
    height: 24px;
    border-radius: 6px;
    font-weight: bold;
}

.hero-main-right {
    display: flex;
    align-items: center;
    margin: 0 0 112px 0;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

