.hero-container {
    background-color: #1f2937;
}

.hero-secondary {
    display: flex;
    justify-content: space-between;
    flex: auto;
    margin: 0 112px;
}

.hero-secondary-right {
    color: #e5e7eb;
    font-size: 18px;
    margin: auto 0;
    display: flex;
    justify-content: space-between;
    width: 380px;
}

.hero-secondary-left {
    color: #f9faf8;
    font-size: 24px;
    margin: auto 0;
}

.hero-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 112px;
    color: #f9faf8;
}

.hero-main h1{
    font-size: 48px;
    font-weight: bold;
}

.hero-main-right {
    display: flex;
    align-items: center;
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}